@import "tailwindcss";

@theme {
  --font-serif: "DM Serif Display", "ui-serif", "Georgia", "Cambria", "Times New Roman", "Times", "serif";
  --font-sans: "DM Sans", "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-retro-bg: #F4F1DE;
  --color-retro-primary: #E07A5F;
  --color-retro-secondary: #3D405B;
  --color-retro-accent: #81B29A;
  --color-retro-highlight: #F2CC8F;
}

body {
  background-color: theme(colors.retro-bg);
  font-family: theme(fontFamily.sans);
  color: theme(colors.retro-secondary);
}
